.customNavBar{
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}

#customColor{
    color: rgb(147, 210, 205);
}

.navbar-header{
    font-size: 13px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(147, 210, 205);
}

.navbar .nav > li > a {
    color:  black;
}

.faqTextHighlight {
    color: rgb(147, 210, 205);
    font-weight: bold;
}

.borrowRow{
    background-color: rgb(180, 168, 127);
}

/* CSS used here will be applied after bootstrap.css */
.jumbotron{width:80%;margin-left:10%;max-width: 1200px;margin-left:auto; margin-right:auto;}
.img-center {margin:0 auto;}
.dl-horizontal dt{white-space: normal;}
.omacenter{margin-left:auto; margin-right:auto;}
.titre{color:#fff;}
.entete{background-color: #22780F;width:80%;margin-left:10%;}

.underliner {
    text-decoration: underline;
    -moz-text-decoration-color: red; /* Code for Firefox */
    text-decoration-color: red;
}

